fastapi==0.116.1
uvicorn[standard]==0.35.0
SQLAlchemy==2.0.42
PyMySQL==1.1.1
python-dotenv==1.1.1
pydantic-settings==2.10.1
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
cryptography==45.0.7
langchain-text-splitters==0.3.9
sentence-transformers==5.1.0
faiss-cpu==1.12.0
numpy==2.3.2
